.main_div {
  box-sizing: border-box;
  margin-top: 150px;
  border-radius: 20px;
  margin-left: 30%;
  margin-right: 30%;
  padding: 20px;
  /* box-shadow: 0 -5px 3px -3px black, 0 5px 3px -3px black; */
  box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem gray;
}
.btn {
  font-size: 20px;
  font-weight: bold;
  background-color: black;
  color: #fff;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 0 50px black;
}
.btn:hover {
  color: black;
  background-color: palevioletred;
}
label {
  font-size: 25px;
}
input {
  width: 80%;
  padding: 10px;
  font-size: 15px;
}
.btn1 {
  font-size: 15px;
  font-weight: bold;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 15px;
  width: 90%;
}
.btn2 {
  font-size: 15px;
  font-weight: bold;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 15px;
  width: 90%;
}

.btn2:hover {
  background-color: gray;
}
.pera {
  font-size: 18px;
  font-weight: bold;
}
.btn1:hover {
  background-color: gray;
}

@media (max-width: 998px) {
  body {
    font-size: 55%;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 45%;
  }
}
@media (max-width: 653px) {
  body {
    font-size: 35%;
  }
}
